body{
  background-color: aliceblue;
   
}
*{
    box-sizing: border-box;
    padding: 2px;
}
.landmain{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   color: black; 
   font-size: 45px;
   text-align: center;
   font-weight: bold;
   text-decoration: double;
  
}

.nav1{
    float: center;
background:blue;
  width: 30%;
  color: black;
   height: 230px;
   box-shadow: 20px 20px 20px 0px rgba(0, 0, 0, 0.7);
}
.log1{
    background-color: blue;
    background-size: contain;
    color: white;
    padding: 16px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    float: none;
}
.sign1{
    background-color:blue;
    background-size: contain;
    color: white;
    padding: 16px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    float: none;
}
.Credland{
 float: right;
}

a:hover{
    
    color: blue;
}
a:visited{
    text-decoration: underline;
    color: default;
}
a:active{
    text-decoration: solid;
    color: crimson;
}